@media screen and (max-width: 1100px) {
  .contacto-top{
      margin-top: 0px;
  }

  .binicio{
    height: auto;
    max-height: 500px !important;
  }
}

@media screen and (max-width: $maximo-ancho) {

  .orbit-slides-container, .orbit-container{
      height: auto !important;
  }

  .orbit-container .orbit-slides-container li.active{
      position: static;
  }

    li.orbit-slide{
    background-size: cover !important;
  }

}

@media screen and (max-width: 1000px) {

  .left-bg-service{

    ul{
      padding-left: 0px;
    }

    li{
      text-align: center;
      display: inline-block;
      padding: 5px;
    }
  }

  .site-main{
    padding: 0 20px 0 20px;
  }

}
